<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>controller.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>controller.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPassword</servlet-name>
        <servlet-class>controller.newPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetail</servlet-name>
        <servlet-class>controller.productDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetail</servlet-name>
        <servlet-class>controller.RoomDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenterServelet</servlet-name>
        <servlet-class>controller.RenterServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerServlet</servlet-name>
        <servlet-class>controller.OwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoom</servlet-name>
        <servlet-class>controller.addRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept</servlet-name>
        <servlet-class>controller.Accept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRoom</servlet-name>
        <servlet-class>controller.AcceptRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IgnoreRoom</servlet-name>
        <servlet-class>controller.IgnoreRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>controller.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>controller.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoom</servlet-name>
        <servlet-class>controller.DeleteRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPassword</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetail</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetail</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenterServelet</servlet-name>
        <url-pattern>/renter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerServlet</servlet-name>
        <url-pattern>/owner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoom</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRoom</servlet-name>
        <url-pattern>/acceptroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IgnoreRoom</servlet-name>
        <url-pattern>/ignore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/updater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoom</servlet-name>
        <url-pattern>/deleter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
